@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

body {
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: white;
}

.navitems {
    display: flex;
}

.navitems li{
    list-style: none;
    margin: 0 15px;
}

.navitems li a{
    font-size: 20px;
    color: #36454F;
    letter-spacing: 3px;
    text-decoration: none;
}

.navitems li:hover a{
    color: #579BB1;
}

.links button {
    font-size:30px;
    color: #36454F;
    margin: 5px 10px;
    padding: 15px 5px;
    transition: 0.5s;
    outline: none;
    border: none;
    background: none;
    border-radius: 10px;
}

.links button:hover {
    color: #579BB1;
    animation: animate2 0.5s 1 linear;
}

@keyframes animate2 {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    padding: 5em;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 450px;
    width: 450px;
    border-radius: 50%;
    left: -15%;
    top: 35%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object1 6s linear infinite;
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object2 6s linear infinite;
}

@keyframes object1 {
    50%{
        left: -17%;
        top: 41%;
    }
}

@keyframes object2 {
    50%{
        left: 35%;
        top: 10%;
    }
}

.main {
    width: 50%;
}

.col0 {
    width: 60%;
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 2.2em;
    letter-spacing: 5px;
    color: #36454F;
}

.topline::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 45px;
    bottom: 10px;
    background-color: #579BB1;
}

h1 {
    display: block;
    font-size: 3em;
    font-weight: 800;
    color: #36454F;
    width: 100%;
}

.multitext {
    color: #579BB1
}

p {
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: #36454F;
}

.btn {
    width: 100%;
    position: relative;
    left: 150px;
}

.btn button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    background-color: white;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: 36454F;
    z-index: 2;
}
   
.btn button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}
   
.btn button:hover::after {
    animation-play-state: running;
}
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
}
   
.btn button,
.btn button::after {
    box-sizing: border-box;
}
   
.btn button:active {
    --border-width: 6px;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img {
    position: relative;
    height: 90%;
    width: calc(130% - 80px);
    top: -150px;
}

.imgbox .me {
    width: 100%;
}

.imgbox #splash {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(-30deg);
width: 200%;
filter: saturate(200%);
animation: animate 4s linear infinite;
}

@keyframes animate {
50%{
    top: 49%;
    left: 51%;
    width: 195%;
}
}

.about {
    background-color: #f2f2f2;
    height: 100vh;
}

.about::before {
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 30%;
    top: 120%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object4 6s linear infinite;
}

@keyframes object4 {
    50%{
        left: 30%;
        top: 115%;
        rotate: 180deg;
    }
}

.about::after {
    position: absolute;
    content: '';
    height: 250px;
    width: 250px;
    border-radius: 50%;
    left: 45%;
    top: 220%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object3 6s linear infinite;
}

@keyframes object3 {
    50%{
        left: 47%;
        top: 220%;
        rotate: 180deg;
    }
}

.title button {
    color: #36454F;
    background-color: transparent;
    border: none;
    font-size: 60px;
    display: flex;
}

.title button:hover {
    color: #579BB1;
    animation: animate3 0.5s;
}

@keyframes animate3 {
    25%{
        transform: scale(0.8, 1.3);
    }
    50%{
        transform: scale(1.1, 0.8);
    }
    75%{
        transform: scale(0.7, 1.2);
    }
}

.aa {
    top: 161%;
    left: 60%;
    position: absolute;
}

.ab {
    top: 161%;
    left: 63%;
    position: absolute;
}

.ao {
    top: 161%;
    left: 65.5%;
    position: absolute;
}

.au {
    top: 161%;
    left: 68%;
    position: absolute;
}

.at {
    top: 161%;
    left: 70.5%;
    position: absolute;
}

.am {
    top: 161%;
    left: 74%;
    position: absolute;
}

.ae {
    top: 161%;
    left: 77.5%;
    position: absolute;
}

.about img {
    border-radius: 10px;
    width: 30%;
    border: 2px solid black;
    margin-left: 15%;
    margin-top: 15%;
    position: relative;
}

.about img:hover {
    transform: scale(1.1, 1.1);
}

.about p {
    margin-left: 51%;
    width: 38%;
    padding: 20px 0px;
    text-align: justify;
    margin-top: -23%;
}

.about p a {
    color: #579BB1;
    text-decoration: none;
}

.talk button {
    background: #579BB1;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin-left: 65%;
    color: white;
}

.talk span {
    display: inline-block;
    transform: skew(21deg);
}

.talk button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #F99417;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}
  
.talk button:hover {
    color: #fff;
}
  
.talk button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.skills {
    height: 100vh;
    background-color: white;
}

.ss1 {
    top: 255%;
    left: 13%;
    position: absolute;
}

.sk {
    top: 255%;
    left: 15.5%;
    position: absolute;
}

.si {
    top: 255%;
    left: 18%;
    position: absolute;
}

.sl1 {
    top: 255%;
    left: 19.5%;
    position: absolute;
}

.sl2 {
    top: 255%;
    left: 21%;
    position: absolute;
}

.ss2 {
    top: 255%;
    left: 22.3%;
    position: absolute;
}

.hoverr {
    top: 318%;
    left: 25.8%;
    position: absolute;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    animation: objecth 6s linear infinite;
    color: #F99417;
    background-color: white;
}

@keyframes objecth {
    50%{
        left: 26.3%;
    }
}

.skills::before {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 55%;
    top: 325%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object5 6s linear infinite;
}

@keyframes object5 {
    50%{
        left: 55%;
        top: 330%;
        rotate: 180deg;
    }
}

.skills::after {
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: 90%;
    top: 250%;
    background: linear-gradient(45deg, #F99417, #ffb800);
    animation: object6 6s linear infinite;
    overflow: hidden;
}

@keyframes object6 {
    50%{
        left: 95%;
        top: 245%;
        rotate: 180deg;
    }
}

.skillcard {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 5px #36454F;
    border-radius: 10px;
    overflow: hidden;
    margin-top:250px;
    margin-left: 200px;
    align-content: center;
    position: absolute;
}

.skillhead {
    background-color: #579BB1;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 27px;
}

.skillbody {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.skillinfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skillname {
    width: 200px;
    font-size: 17px;
    position: relative;
}

.skillname::before, 
.skillname::after {
    --scale: 0;
    top: -0.25em;
    left: -1.15em;
    position: absolute;
    transform: scale(var(--scale));
    border-radius: 20px;
}

.skillname::before {
    content: attr(data-tooltip);
    text-align: center;
    color: white;
    width: 483px;
    padding: .5em;
    background: #36454F;
}

.skillname:hover::before {
    --scale: 1;
}

.skilllevel {
    width: 180px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.skillpercent {
    background-color: #579BB1;
    height: 100%;
}

.skillpercentnumber {
    margin-left: 20px;
    font-size: 17px;
}

.skillcard2 {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 5px #36454F;
    border-radius: 10px;
    overflow: hidden;
    margin-top:250px;
    margin-left: 800px;
    align-content: center;
    position: absolute;
}

.skillhead2 {
    background-color: #579BB1;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 27px;
}

.skillbody2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.skillinfo2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skillname2 {
    width: 200px;
    font-size: 17px;
    position: relative;
}

.skilllevel2 {
    width: 180px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.skillpercent2 {
    background-color: #579BB1;
    height: 100%;
}

.skillpercentnumber2 {
    margin-left: 20px;
    font-size: 17px;
}
  
.works {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.ww {
    top: 350%;
    left: 43.4%;
    position: absolute;
}

.wo {
    top: 350%;
    left: 47%;
    position: absolute;
}

.wr {
    top: 350%;
    left: 49.5%;
    position: absolute;
}

.wk {
    top: 350%;
    left: 51.4%;
    position: absolute;
}

.ws {
    top: 350%;
    left: 53.7%;
    position: absolute;
}

.slider {
    /* background-color: #000; */
    width: 90%;
    height: 60%;
    margin-top: 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.slidercard {
    background-color: #fff;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid #36454F;
    cursor: pointer;
    display: flex;
}

.slidercard h2 {
    padding: 20px;
    color: #0d0d0d;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.slidercard img {
    width: 295px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    object-fit: contain;
}

.slidercard:hover {
    box-shadow: 0 2px 5px #000000;
}

.contact {
    height:  max-content;
}

.cc1 {
    top: 450%;
    left: 38.5%;
    position: absolute;
}

.co {
    top: 450%;
    left: 41.3%;
    position: absolute;
}

.cn {
    top: 450%;
    left: 43.9%;
    position: absolute;
}

.ct1 {
    top: 450%;
    left: 46.5%;
    position: absolute;
}

.ca {
    top: 450%;
    left: 48%;
    position: absolute;
}

.cc2 {
    top: 450%;
    left: 50.7%;
    position: absolute;
}

.ct2 {
    top: 450%;
    left: 53%;
    position: absolute;
}

.cm {
    top: 450%;
    left: 56.5%;
    position: absolute;
}

.ce {
    top: 450%;
    left: 60%;
    position: absolute;
}

.contact .container{
    max-width: 1152px;
    padding:0 15px;
    margin:14% auto;
}

.contact .input-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.contact .input-wrap-2{
    display:flex;
    flex-direction: column;
}

.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.contact input{
    padding:0.5rem;
    font-size: 0.9rem;
}

.contact .input-wrap-2 textarea{
    padding:0.5rem;
    margin-bottom: 2rem;
}

.contact input:focus{
    background: white
}

.contact .input-wrap-2 textarea:focus{
    background: #f9f9f9
}

.submit {
    left: 41%;
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #579BB1;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}
  
.submit span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #579BB1;
}
  
.submit span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}
  
.submit:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #579BB1;
}
  
.submit:hover {
    color: white;
}
  
.submit:active span::before {
    background: #579BB1;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: #579BB1;
    position: absolute;
    top: 0;
    left: 0;
}

.totop {
    font-size: 20px;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    animation: bounce 1s infinite;
    position: fixed;
    top: 90%;
    left: 95%;
  }
  
@keyframes bounce {
    0%,
        100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 40px;
    z-index: 99999;
}
